<h1>Welcome to Empocketer{{#if user.name}} {{user.name}}{{/if}}!</h1>

<p>Please add your name so other empocketers know who you are. It can be anything you like. This is your dashboard, where you can create and edit lists, see what you are subscribed to, and add or remove subscriptions.</p>
<p>This app is currently in Alpha and will <del>probably</del> definitely have bugs. Please report any problems using the <a href="/bugs">bug reporter</a>, or send a tweet/DM to <a href="https://twitter.com/hughrundle">@hughrundle</a>.

<hr/>

<form action="/dashboard/addname" method="post">
	<label for="name">Name: </label>
	<span id="name" type="text" value="" name="name">{{user.name}}</span>
	<input id="addNameButton" type="submit" class="submit coming-soon" value="Edit Name">
	{{#unless user.name}}<span class="hint">Start by telling us who you are!</span>{{/unless}}
</form>

<button id="addListButton" class="add">Create a new list</button>
<form class="opmlForm" name="opmlform" action="/lists/opml" method="post" enctype="multipart/form-data"><label id="opmlLabel" class="toggle-label" for="opml"><input id="opml" name="opmlfile" type="file" class="opml" accept=".opml"><span class="opmlButton"></span></label>{{!-- this input should only appear once a file is selected --}}<input id="submitOpml" class="opmlLoad" type="submit" id="uploadOpml" value="Process file!"></input>
</form>
{{!-- Lists --}}
<div id="lists" class="js accordion" data-aria-accordion data-multi data-transition=".36" data-default="none">
<h2>Your Lists</h2>

{{#unless lists}}<span class="hint">Create a name for your first list</span>{{/unless}}

{{#each lists}}
	<h3 id="list{{_id}}" class="accordion__heading">
	{{name}} &nbsp&nbsp&nbsp&nbsp📄 {{feeds.length}} &nbsp&nbsp🙂 {{subscribers.length}} {{#unless public}}&nbsp&nbsp🔒{{/unless}}
	</h3>
  <div name="list{{_id}}" class="accordion__panel">
		<button class="delList" id="list{{_id}}">Delete List</button>
		<button class="addFeedButton" id="list{{_id}}">Add New Feed</button>
		<label for="owner{{owner}}-list{{_id}}" class="toggle-label"><input type="checkbox" id="owner{{owner}}-list{{_id}}" class="publicToggle"/><span class="switch pub"></span></label>
		<ul name="list{{_id}}">
			{{#each feeds}}
			<li name="feed{{_id}}"><a href="{{url}}">{{title}}</a>
				<button id="feed{{_id}}" class="delFeed">✘</button></li>
			{{/each}}
		</ul>
	</div>
	{{#if @first}}{{#unless ../lists}}{{#unless ../feeds}}
		<span class="hint">click or tap on the list name to add feeds</span>
	{{/unless}}{{/unless}}{{/if}}
{{/each}}
</div>

{{!-- subscriptions --}}
<div id="subscriptions" class="js accordion" data-aria-accordion data-multi data-transition=".36" data-default="none">
<h2>Your Subscriptions</h2>
<a href="/lists"><button id="addListButton" class="add">Subscribe to new lists</button></a>
{{#each subscriptions}}
<h3 class="accordion__heading">
	{{name}} &nbsp&nbsp&nbsp&nbsp📄 {{feeds.length}} &nbsp&nbsp🙂 {{subscribers.length}}
</h3>
<div class="accordion__panel">
	<label for="list{{_id}}" class="toggle-label">
		{{!-- this is always checked on page load because if the user wasn't subscribed they wouldn't be listed here! --}}
		<input type="checkbox" id="list{{_id}}" class="subToggle" checked/>
		<span class="switch sub"></span>
	</label>
	<button id="clone{{_id}}" name="{{name}}" class="clone add">Clone this list</button>
	{{#each feeds}}
	<li><a href="{{url}}">{{title}}</a></li>
	{{/each}}
</div>
{{/each}}
</div>

	{{!-- modals --}}
<div id="newListModal" class="modal">
	<div class="modal-content modal-add">
		<label class="modal-label" for="listName">Name your new list</label>
		<form action="/dashboard/addlist">
		<input name="listName" type=text id="newListName" required><br>
		<input type="submit" id="addListConfirm" class="submit" value="Add"></input>&nbsp&nbsp<button id="addListCancel" class="cancel">Cancel</button>
	</form>
	</div>
</div>

<div id="deleteModal" class="modal">
	<div class="modal-content modal-confirm">
		<p>Are you sure you want to delete this?</p>
		<button id="deleteConfirm" class="confirm">Yes</button>&nbsp&nbsp<button id="deleteCancel" class="cancel">No</button>
	</div>
</div>

<div id="newFeedModal" class="modal">
	<div class="modal-content modal-add">
		<label class="modal-label" for="listName">Enter the URL for the site</label>
		<form id="addFeedForm" action="/lists/{{user._id}}">
		<input name="feedUrl" type="url" id="feedUrl" class="feed-url" required><br>
		<input type="submit" id="addFeedConfirm" class="submit" value="Add"></input>&nbsp&nbsp<button id="addFeedCancel" class="cancel">Cancel</button>
	</form>
	</div>
</div>

<div id="cloneModal" class="modal">
	<div class="modal-content modal-add">
		<label class="modal-label" for="clonedListName">Name your cloned list</label>
		<form action="/lists/clone">
		<input name="listToClone" type="text" id="cloneListId" hidden>
		<input name="listName" type=text id="clonedListName" required><br>
		<input type="submit" id="cloneListConfirm" class="submit" value="Add"></input>&nbsp&nbsp<button id="cloneListCancel" class="cancel">Cancel</button>
	</form>
	</div>
</div>

{{!-- not really a modal but we use basically the same design --}}
<div id="loader" class="modal">
	<div class="modal-content">
		<div class="modal-opml"></div>
		<p>loading OPML...</p>
		<p>if your file is large this may take a while</p>
	</div>
</div>

{{!-- this needs to go under the body because we're looking for elements in the dom --}}
<script src='/javascripts/dash_scripts.js'></script>
{{!-- script to run accordion --}}
<script src='/javascripts/aria.accordion.min.js'></script>