<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if user}}
    <header>
      {{#if user.name}}
        Hello {{user.name}} <a class="logout" href="/logout">Log Out</a>
      {{else}}
        Hello {{user.pocket_name}} <a class="logout" href="/logout">Log Out</a>
      {{/if}}
    </header>
    {{/if}}
    <main class="main">
    {{{body}}}
  </main>
    <footer class="footer">
      <a href="/">Home</a><br>
      {{#if user}}<a href="/dashboard">Dashboard</a><br>
      <a href="/bugs">Report a bug</a><br>{{/if}}
      <a href="/todos">What's coming</a><br>
      {{#if user}}<a href="/logout">Log Out</a><br>{{/if}}
      <div class="credits">
        <p><strong>{{appname}}</strong> is made by <a href="https://hughrundle.net">Hugh Rundle</a><p>
        <p>This app is not affiliated with or endorsed by Pocket or Mozilla.</p>
        <p>Special thanks to Lissertations and Edward Shaddow for alpha-testing and suggestions.</p>
      </div>
    </footer>
  </body>
</html>
