<h1>{{name}}</h1>
<hr/>
<p>Enter the URL for the site you want to add. Empocketer will find the feed for you.
<form action="/lists/{{ownerid}}/{{listid}}/addfeed" method="post">
	<label for="url">New Site: </label>
	<input id="url" type="url" name="url">
	<input class="addFeedButton" type="submit" value="Add Feed">
</form>
<ul id="feedList" class="listing">
{{#each feeds}}
{{!-- show the title, which links to the actual site
 TODO plus a 'list count' which links to a list of all the other lists that have include this feed. --}}
<li name="feed{{_id}}"><a href="{{{url}}}" name="feed{{_id}}">{{title}}</a><span class="list-count"><a href="">{{lists.length}}</a></span><button type="remove" class="removeButton" id="feed{{_id}}">remove</button>
	{{#if ../firstfeed}}<span class="hint">The next post will appear in your Pocket account!</span>{{/if}}</li>
{{/each}}
</ul>

{{!-- this needs to go under the body because we're looking for elements in the dom --}}
<script src='/javascripts/feed_scripts.js'></script>