<h1>Lists</h1>
<p>Select a list for more information, or to add it to your subscriptions.</p>
<hr />

{{!-- Drop down lists for each list. Thanks to Scott O'Hara for sharing his accessible_accordians code at https://github.com/scottaohara/accessible_accordions --}}
<div id="lists" class="js accordion" data-aria-accordion data-multi data-transition=".36" data-default="none">
	{{#each lists}}
		{{#if public}}
			{{!-- accessible accordions turns this into a button so we can't put any other buttons in the heading --}}
		  <h3 class="accordion__heading">
		    {{name}} by {{ownerName}} &nbsp&nbsp&nbsp&nbsp🔗 {{feeds.length}} &nbsp&nbsp👍{{subscribers.length}}
		  </h3>
		  <div class="accordion__panel">
				{{#unless mylist}}
				<label for="list{{_id}}" class="toggle-label">
					<input type="checkbox" id="list{{_id}}" class="subToggle" {{#if subscribed}} checked {{/if}}/>
					<span class="switch sub"></span>
				</label>
				{{/unless}}
		    <ul>
					{{#if feeds}}
		      {{#each feeds}}
						<li><a href="{{url}}">{{title}}</a></li>
					{{/each}}
					{{else}}
					This list is currently empty
					{{/if}}
		    </ul>
		  </div>
		{{/if}}
	{{/each}}
</div>
{{!-- script to run accordion --}}
<script src='/javascripts/aria.accordion.min.js'></script>
{{!-- script to get list info --}}
<script src='/javascripts/lists_scripts.js'></script>